# Binaries
*.exe
*.dll
main

# Vendor
vendor/

# Database
*.db
*.sqlite

# Logs
*.log

# Uploads
uploads/audio/*
!uploads/audio/.gitkeep
uploads/documents/*
!uploads/documents/.gitkeep
uploads/exports/*
!uploads/exports/.gitkeep

# Env
.env
.env.local